<% layout("layouts/boilerplate") %>

<div class="row">
  <%- include("../includes/adminSidebar") %>

  <div class="col-10 p-4">
    <h2>Manage Listings</h2>

    <table class="table mt-3">
      <thead>
        <tr>
          <th>Title</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% listings.forEach(listing => { %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.location %></td>
            <td>
              <form method="POST" action="/admin/listings/<%= listing._id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>

  </div>
</div>
