/* -------------------- GLOBAL -------------------- */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Wrapper to push footer down */
.container {
    flex: 1;
}


/* -------------------- NAVBAR -------------------- */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}


/* -------------------- FOOTER -------------------- */

.f-info {
    background-color: #ebebeb;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info-links, 
.f-info-socials, 
.f-info-brand {
    width: 100%;
}

.f-info-links a {
    color: #222222;
    text-decoration: none;
}

.f-info-links a:hover {
    text-decoration: underline;
}


/* -------------------- CARDS -------------------- */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


/* -------------------- BUTTONS -------------------- */

.add-btn,
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}


/* -------------------- SHOW PAGE -------------------- */

.show-img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.btns {
    display: flex;
    gap: 1rem;
}

.show-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


/* Map */
#map {
    height:300px;
    width: 80vh;

}
