<div class="col-2 bg-dark text-white min-vh-100 p-3">
  <h4>Admin Panel</h4>
  <hr>
  <a href="/admin/dashboard" class="text-white d-block mb-2">Dashboard</a>
  <a href="/admin/listings" class="text-white d-block mb-2">Listings</a>
  <a href="/admin/users" class="text-white d-block">Users</a>
</div>
